$bodyFont: #66676F;
$bodyBG: #191b1f;
$red: #e30b13;
$yellow: #f5c521;
$gray300: #d9dae8;
$gray500: #999aa5;
$gray600: #66676e;
$gray700: #39393f;
$gray800: #242529;
$gray900: #191b1f;
$gray950: #101215;

